/FilmVaultVersion1-0/filme.db
/.venv/
/FilmVaultVersion2-0/filme.db
/FilmVaultVersion2-0/.env
/FilmVaultVersion3-0/filme.db
/FilmVaultVersion3-0/filmvault-firestore.json
/FilmVaultVersion3-0/.env
/FilmVaultVersion4-0/.env
/FilmVaultVersion4-0/filmvault-firestore.json
/FilmVaultVersion4-0/filme.db
/Test/test5.py
/FilmVaultVersion4-0/4-0/.env
/FilmVaultVersion4-0/4-0/filmvault/filme.db
/FilmVaultVersion4-0/4-0/filmvault/filmvault-auth-state.json
/FilmVaultVersion4-0/4-1/filmvault/filme.db
/FilmVaultVersion4-0/4-1/.env
/FilmVaultVersion4-0/4-1/filmvault/filmvault-auth-state.json
/FilmVaultVersion4-0/4-2/.env
/FilmVaultVersion4-0/4-2/firestore-rules.txt
/FilmVaultVersion4-0/4-2/filmvault/filme.db
/FilmVaultVersion4-0/4-2/filmvault/filmvault-auth-state.json
