/FilmVaultVersion1-0/filme.db
/.venv/
/FilmVaultVersion2-0/filme.db
/FilmVaultVersion2-0/.env
/FilmVaultVersion3-0/filme.db
/FilmVaultVersion3-0/filmvault-firestore.json
/FilmVaultVersion3-0/.env
/FilmVaultVersion4-0/.env
/FilmVaultVersion4-0/filmvault-firestore.json
/FilmVaultVersion4-0/filme.db
/Test/test5.py
/FilmVaultVersion4-0/filmvault_modular_objektorientiert/.env
/FilmVaultVersion4-0/filmvault_modular_objektorientiert/filmvault/filme.db
/FilmVaultVersion4-0/filmvault_modular_objektorientiert/filmvault/filmvault-auth-state.json
